@{
    ViewData["Title"] = "Character information";
}

<div class="text-center">
    <h1 class="display-4">Character information</h1>
    <h2>@Model.response</h2>
    
    <p> <strong>Name: </strong> @Model.name</p>

</div>
