@model SearchResult;

@{
    ViewData["Title"] = "Search your SuperHero";
}

<div class="text-center">
    <h1 class="display-4">Search your SuperHero here!</h1>

    <form asp-controller="Home" asp-action="Index">
        <input type="text" name="SearchCriteria" />
        <input type="submit" value="Search!"/>
    </form>
    <form asp-controller="Character" asp-action="Index">
        <input type="text" name="CharacterID" placeholder="write your character ID here!">
        <input type="submit" value="Search!">
    </form>
    @if (@Model.IsSearchResult || @Model.response != null)
    {
        <p>@Model.response</p>
    }
    else{
        <p>Anything to show</p>
    }
</div>
