@model List<CharacterSearch>;

@{
    ViewData["Title"] = "Search your SuperHero";
}

<div class="text-center">
    <h1 class="display-4">Search your SuperHero here!</h1>

    <form asp-controller="Home" asp-action="Index">
        <input type="text" name="SearchCriteria" />
        <input type="submit" value="Search!"/>
    </form>
    <form asp-controller="Character" asp-action="Index">
        <input type="text" name="CharacterID" placeholder="write your character ID here!">
        <input type="submit" value="Search!">
    </form>
    @if (@ViewData["IsSearchResult"].Equals(true))
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Gender</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var CharacterInfo in Model)
                {
                    <tr>
                        <th scope="row">@CharacterInfo.Name</th>
                        <td>@CharacterInfo.Gender</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
